
# ignore vscode settings

.vscode

##############################

# gitignore for node

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

##############################

# files
bin/lmntal.jar
classes/
.settings/
sample-input/

src/runtime/Help.java

_errors_help_gen.txt

*.class

# *.jar
*.zip
*.tgz

# misc
GPATH
GRTAGS
GTAGS
TAGS
tags
gtags.conf
*~
\#*\#

#mac 
.DS_Store

#win
Thumbs.db

#idea
.idea
*.iml
