language: java

matrix:
  include:
    - os: linux
      dist: bionic
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install -y ant re2c
    - os: osx
      osx_image: xcode11.3
      before_install:
        - export HOMEBREW_NO_INSTALL_CLEANUP=1
        - brew update > /dev/null
        - brew install automake autoconf re2c bison ant
        - brew link bison --force
        - export PATH="/usr/local/opt/bison/bin:$PATH"
    
install:
  - ant
  - export LMNTAL_HOME=`pwd`
  - git clone https://github.com/lmntal/slim.git
  - cd slim
  - ./autogen.sh
  - ./configure
  - make -j

script:
  - export slim_CHECK_ND=yes
  - make check
